/* Logo Component Styles */

img#logo {
  position: absolute;
  width: auto;
  height: 6rem;
  top: 44%;
  left: 50%;
  transform: translateX(-50%);
}

img#logo-her {
  width: auto;
  height: 13rem;
}

/* Progress bar styles */
div#progress-background {
  position: absolute;
  width: 100%;
  height: 0.75rem;
  border-radius: 9999px;
}