/* Core Editor Styles */
.ProseMirror {
  white-space: pre-wrap;
  height: 100%;
  min-height: fit-content;
  max-height: 100%;
}

/* Focus Styles */
.ProseMirror:focus-visible,
.ProseMirror-focused,
input:focus {
  outline: none;
  position: relative;
  z-index: 1;
  border-width: 0px;
  border-radius: 5%;
  box-shadow: none;
  background-color: transparent;
}

/* Animations */
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rainbow {
  to {
    --angle: 360deg;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.65;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-pulse-fast {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Sidebar Transitions */
#sidebar {
  transition-timing-function: cubic-bezier(0.3, 0.3, 0.2, 1);
  transition-duration: 0.5s;
  --tw-duration: 0.5;
  --tw-ease: cubic-bezier(0.3, 0.3, 0.2, 1);
}

/* Background and Blur Effects */
#sidebar,
#user-menu {
  background: transparent;
  backdrop-filter: blur(8px);
}

.overscroll-contain,
.menu-cover,
.chat-interface,
.model-menu,
.parameter-panel,
.tools-menu,
.trans {
  background: transparent;
  backdrop-filter: blur(8px);
}

tr,
tbody,
thead,
table {
  background: transparent;
  backdrop-filter: blur(8px);
}

div#chat-input,
select {
  background: transparent;
}

/* Layout Elements */
#sidebar[data-state='true'],
.parameter-panel,
div {
  animation: 0.1s ease-in forwards fade-in !important;
}

/* Utility Classes */
.none-border {
  border: none;
}

.tag-selcetor,
.clean {
  background: transparent;
}

/* Logo and Progress */
img#logo {
  position: absolute;
  width: auto;
  height: 6rem;
  top: 44%;
  left: 50%;
  transform: translateX(-50%);
}

img#logo-her {
  width: auto;
  height: 13rem;
}

div#progress-background {
  position: absolute;
  width: 100%;
  height: 0.75rem;
  border-radius: 9999px;
}