.ProseMirror {
    white-space: pre-wrap;
    height: 100%;
    min-height: fit-content;
    max-height: 100%;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rainbow {
  to {
    --angle: 360deg;
  }
}

/* 当元素被键盘聚焦时 */
.ProseMirror:focus-visible,
.ProseMirror-focused,
input:focus {
  outline: none; /* 禁用默认的 outline */
  position: relative;
  z-index: 1;
  border: 2px solid transparent; /* 增加边框宽度以容纳渐变 */
  box-shadow: none;
  animation: rainbow 2.5s linear infinite;
  background-image: linear-gradient(white, white),
    conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}