/* injected-code-styles.css */

@import "/assets/css/base/_variables.css";
@import "/assets/css/base/_fonts.css";
@import "/assets/css/components/_code-block.css";
@import "/assets/css/components/_syntax-highlighting.css";

@import "/assets/css/utilities/_fix-ui.css";
@import "/assets/css/utilities/_fluent.css";
@import "/assets/css/base/_global.css";

@import "/assets/css/_theme.css";

