/* injected-code-styles.css */

@import "/assets/css/_fonts.css";
@import "/assets/css/_code-block.css";
@import "/assets/css/_syntax-highlighting.css";

@import "/assets/css/_fix-ui.css";
@import "/assets/css/_fluent.css";
@import "/assets/css/_global.css";
