/* Her Theme Specific Styles */

html.her #splash-screen {
  background: #983724;
}

html.her #logo {
  display: none;
}

html.her #logo-her {
  display: block;
  filter: invert(1);
}

html.her #progress-background {
  display: block;
}

html.her #progress-bar {
  display: block;
}

@media (max-width: 24rem) {
  html.her #progress-background {
    display: none;
  }

  html.her #progress-bar {
    display: none;
  }
}